# http://stylelint.io/user-guide/rules/
{
    "rules": {
        "block-no-empty": null,
        "color-no-invalid-hex": true,
        color-hex-case: "lower",
        "declaration-colon-space-after": "always",
        "max-empty-lines": 0,
        "unit-whitelist": [
            "em",
            "rem",
            "%",
            "s"
        ],
        "max-nesting-depth": 0
    }
}